apiVersion: 1
deleteRules:

groups:
  - name: Services Alerts
    folder: "{{ .application }}"
    interval: 1m
    rules:
{{- if .dotnet.alerting.cpu_enabled }}
      - uid: "{{ .uid }}-cpu-h"
        title: High Process CPU Usage
        condition: C
        data:
          - refId: A
            datasourceUid: prometheus
            relativeTimeRange: { from: 600, to: 0 }
            model:
              expr: |
                avg(rate(process_cpu_time_seconds_total{job="{{ .application }}", namespace="{{ .namespace }}"}[5m])) * 100
              refId: A
          - refId: B
            datasourceUid: __expr__
            model:
              type: reduce
              expression: A
              reducer: last
              settings:
                mode: dropNN
          - refId: C
            datasourceUid: __expr__
            model:
              type: threshold
              expression: B
              conditions:
                - type: query
                  reducer: { type: last , params: [] }
                  evaluator: { type: gt, params: [{{ .dotnet.alerting.cpu_threshold }}] }
        for: 5m
        noDataState: NoData
        execErrState: Alerting
        labels:
          severity: warning
        annotations:
          __dashboardUid__: '{{ .uid }}-alerts-dashboard'
          __panelId__: '2'
          summary: "CPU is over {{ .dotnet.alerting.cpu_threshold }}% for service {{ .application }} in namespace {{ .namespace }}"
          description: "Service: {{ .application }} | Namespace: {{ .namespace }}"
{{- end }}
{{- if .dotnet.alerting.exceptions_enabled }}
      - uid: "{{ .uid }}-exceptions-h"
        title: High .NET Runtime Exception Rate
        condition: C
        data:
          - refId: A
            datasourceUid: prometheus
            relativeTimeRange: { from: 600, to: 0 }
            model:
              expr: |
                sum(increase(process_runtime_dotnet_exceptions_count_total{job="{{ .application }}", namespace="{{ .namespace }}"}[2m]))
              refId: A
          - refId: B
            datasourceUid: __expr__
            model:
              type: reduce
              expression: A
              reducer: last
              settings:
                mode: dropNN
          - refId: C
            datasourceUid: __expr__
            model:
              type: threshold
              expression: B
              conditions:
                - type: query
                  reducer: { type: last, params: [] }
                  evaluator: { type: gt, params: [{{ .dotnet.alerting.exceptions_threshold }} ] }
        for: 2m
        noDataState: NoData
        execErrState: Alerting
        labels:
          severity: critical
        annotations:
          __dashboardUid__: '{{ .uid }}-alerts-dashboard'
          __panelId__: '4'
          summary: "More than {{ .dotnet.alerting.exceptions_threshold }} exceptions (2m) for service {{ .application }} in namespace {{ .namespace }}"
          description: "Service: {{ .application }} | Namespace: {{ .namespace }}"
{{- end }}
{{- if .dotnet.alerting.http_5xx_enabled }}
      - uid: "{{ .uid }}-http-5xx-h"
        title: High percentage of 5xx errors
        condition: C
        data:
          - refId: A
            datasourceUid: prometheus
            relativeTimeRange: { from: 600, to: 0 }
            model:
              expr: |
                sum(increase(http_server_request_duration_seconds_count{http_response_status_code=~"5..", job="{{ .application }}", namespace="{{ .namespace }}", http_route!~"/metrics|/ready|/alive"}[1m]))
              refId: A
          - refId: B
            datasourceUid: __expr__
            model:
              type: reduce
              expression: A
              reducer: last
              settings:
                mode: dropNN
          - refId: C
            datasourceUid: __expr__
            model:
              type: threshold
              expression: B
              conditions:
                - type: query
                  reducer: { type: last, params: [] }
                  evaluator: { type: gt, params: [{{ .dotnet.alerting.http_5xx_threshold }}] }
        for: 1m
        noDataState: NoData
        execErrState: Alerting
        labels:
          severity: critical
        annotations:
          __dashboardUid__: '{{ .uid }}-alerts-dashboard'
          __panelId__: '6'
          summary: "More than {{ .dotnet.alerting.http_5xx_threshold }} 5xx errors (1m) for service {{ .application }} in namespace {{ .namespace }}"
          description: "Service: {{ .application }} | Namespace: {{ .namespace }}"
{{- end }}